html {
    background:black;
}

body{
    background: black;
}

.titleBlock{
    background-image: url('../img/city.jpeg');
    background-size:auto;
    background-repeat: none;
    background-position:center;
    color:white;
    height:350px;
}

.markets{
    background-color: rgba(30,30,30,.8);
    color:white;
    padding:15px;
    border-radius:5px;
}

h3{
    font-size:22px;
}

p{
    font-size: 15px;
}