html {
    background:black;
}

body{
    background: black;
}

.titleBlock{
    background-image: url('../img/city.jpeg');
    background-size:auto;
    background-repeat: none;
    background-position:center;
    color:white;
    height:350px;
}

.markets{
    background-color: rgba(30,30,30,.8);
    color:white;
    padding:15px;
    border-radius:5px;
}

h3{
    font-size:22px;
}

p{
    font-size: 15px;
}

#notes {
    float: right;
    width: 100%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: white;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }